.lSRTypesWrap {
	display: flex;
	flex-wrap: wrap;
}
.lSRTypesWrap > div {
	margin-right: 10px;
}
.lSRTypes img {
	border: 1px solid #000000;
}
.lSRDifficulties > div:nth-of-type(1) {
	width: 100%;
	margin: 0;
}
.lSRTypes, .lSRDifficulties {
	padding: 2.4193548387096775%;
	background-color: #ffffff;
	width: 50%;
}
.lSRDifficulties {
	max-width: 400px;
}
.lSRDifficultyIcon {
	width: 20px;
	height: 20px;
	display: inline-flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-right: 5px;
}
.lSRDifficultyIcon > div {
	width: 18%;
}
.lSRDifficultyIcon > div:nth-of-type(1) {
	background-color: #707173;
	height: 20%;
}
.lSRDifficultyIcon > div:nth-of-type(2) {
	background-color: #707173;
	height: 40%;
}
.lSRDifficultyIcon > div:nth-of-type(3) {
	background-color: #707173;
	height: 60%;
}
.lSRDifficultyIcon > div:nth-of-type(4) {
	background-color: #707173;
	height: 80%;
}
.lSRDifficultyIcon > div:nth-of-type(5) {
	background-color: #707173;
	height: 100%;
}
.lsRDSkiroute {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	display: inline-block;
	background-color: #e30613;
} 
.lSRDifficultyIcon.lsRDeasy > div:nth-of-type(1), .lSRDifficultyIcon.lsRDintermediate > div:nth-of-type(1), .lSRDifficultyIcon.lsRDdifficult > div:nth-of-type(1)  {
	background-color: #e30613;
}
.lSRDifficultyIcon.lsRDintermediate > div:nth-of-type(2), .lSRDifficultyIcon.lsRDdifficult > div:nth-of-type(2)  {
	background-color: #e30613;
}
.lSRDifficultyIcon.lsRDintermediate > div:nth-of-type(3), .lSRDifficultyIcon.lsRDdifficult > div:nth-of-type(3)  {
	background-color: #e30613;
}
.lSRDifficultyIcon.lsRDdifficult > div:nth-of-type(4)  {
	background-color: #e30613;
}
.lSRDifficultyIcon.lsRDdifficult > div:nth-of-type(5)  {
	background-color: #e30613;
}
.lSRDifficulty {
	display: flex;
	justify-content: flex-end;
}
.lSRDDLength {
	width: 40%;
	text-align: right;
}
.lSRDDTitle {
	width: calc(60% - 25px);
}
.lSRRegionTeaser strong {
	display: inline-block;
	margin-bottom: 6px;
}
.lSRRegionTeaser {
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	margin-top: -9px;
	margin-bottom: 20px;
}
.lSRLLift, .lSRSlope {
	display: flex;
	justify-content: space-between;
}
.lSRLLRegion {
	width: 25%;
}
.liftStatusRegions {
	margin-bottom: 20px;
}
.liftStatusRegions .glyphicon{
	color: #e30613;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.lSRLiftsHeader.active .glyphicon{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.lSRLiftsHeader, .lSRLifts {
	padding: 2.4193548387096775%;
	background-color: #ffffff;
}
.lSRLifts {
	padding-top: 0;
}
.lSRLiftsHeader {
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
}
.lSRLifts {
	display: none;
}
.lSRLLift:nth-of-type(odd), .lSRSlope:nth-of-type(odd) {
	background-color: #f2f2f2;
}
.lSRLLift:nth-of-type(1), .lSRSlope:nth-of-type(1) {
	background-color: #e30613;
	color: #ffffff;
	font-weight: bold;
}
.lSRLLift > div, .lSRSlope > div {
	padding: 3px;
}
.lSRLLNr, .lSRSNr {
	width: 10%;
	text-align: center;
}
.lSRLLStatus, .lSRSStatus {
	width: 10%;
	text-align: center;
}
.lSRLLType {
	width: 20%;
}
.lSRLLName {
	width: 60%;
}
.lSRSLength {
	width: 10%;
}
.lSRSDifficulty {
	width: 10%;
}
.lSRSName {
	width: 60%;
}
.lSRStatus0 {
	position: relative;
	width: 20px;
	height: 3px;
	background-color: #e30613;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: inline-block;
	top: -2px;
}
.lSRStatus0:after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 20px;
	height: 3px;
	background-color: #e30613;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.lSRStatus1 {
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: #00d84a;
	-webkit-border-radius: 9px 9px 9px 9px;
	border-radius: 9px 9px 9px 9px;
	display: inline-block;
	margin-left: -9px;
	margin-top: 4px;
}
.lSRDifficultyTotal {
	border-top: 1px solid #f2f2f2;
}
@media screen and (max-width: 1023px) {
	.lSRSLength {
		width: 20%;
	}
	.lSRSDifficulty {
		width: 20%;
	}
	.lSRSName {
		width: 40%;
	}
}
@media screen and (max-width: 767px) {
	.lSRRegionTeaser {
		flex-wrap: wrap;
	}
	.lSRTypes, .lSRDifficulties {
		width: 100%;
	}
	.lSRLiftsHeader span:last-of-type {
		font-size: 14px;
		font-weight: normal;
	}
	.lSRLLift {
		flex-wrap: wrap;
	}
	.lSRLLNr {
		width: 20%;
		order: 1;
	}
	.lSRLLName {
		width: 80%;
		order: 2;
	}
	.lSRLLStatus {
		width: 20%;
		order: 3;
	}
	.lSRLLType {
		width: 80%;
		order: 4;
	}
	.lSRStatus0 {
		top: -5px;
	}
	.lSRStatus1 {
		margin-top: 3px;
	}
	.lSRSlope {
		flex-wrap: wrap;
	}
	.lSRSNr {
		width: 20%;
		order: 1;
	}
	.lSRSName {
		width: 80%;
		order: 2;
	}
	.lSRSStatus {
		width: 20%;
		order: 3;
	}
	.lSRSLength {
		width: 40%;
		order: 4;
	}
	.lSRSDifficulty {
		width: 40%;
		order: 5;
	}
}
@media screen and (max-width: 479px) {
	.lSRLiftsHeader span:last-of-type {
		display: none;
	}
}