/* scss examples  */
/* tooltip */
.tooltipster-wc {
  border-radius: 5px;
  border: 2px solid #8d8d8f;
  background: #fff;
  padding: 5px;
  color: #8d8d8f;
  font-size: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700; }
  .tooltipster-wc .tooltipster-arrow:after, .tooltipster-wc .tooltipster-arrow:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .tooltipster-wc .tooltipster-arrow:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 8px;
    margin-left: -8px; }
  .tooltipster-wc .tooltipster-arrow:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #8d8d8f;
    border-width: 11px;
    margin-left: -11px; }

.tx-webx-bookingemo {
  /*TOPFILTER - SORTING SWITCH GRID*/
  /*FILTERS*/
  /*RESTAURANT FILTER**/
  /*EVENTLIST*/
  /*SINGLE VIEW */
  /* SHOW HOTEL*/
  /* SHOW HOTEL ENDE */
  /*BROCHURES SHOP ITEMS*/
  /*TRUST YOU*/
  /* FORMULAR */ }
  .tx-webx-bookingemo .generalArrow {
    border-color: #1a171b;
    transform: rotate(135deg);
    margin-left: 15px;
    margin-bottom: 2px; }
  .tx-webx-bookingemo .active .generalArrow {
    margin-bottom: 0;
    transform: rotate(315deg); }
  .tx-webx-bookingemo .dceButton.normal a {
    background-color: #e2001a;
    text-decoration: none;
    font-size: 20px;
    color: #fff; }
  .tx-webx-bookingemo .dceButton a {
    min-width: 148px;
    height: 52px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 1px; }
  .tx-webx-bookingemo .eventFilterView .criteria .fWAccContent {
    overflow: auto; }
  .tx-webx-bookingemo .searchViewFilterView .categories .fWAccContent, .tx-webx-bookingemo .searchViewFilterView .classification .fWAccContent {
    overflow: auto; }
  .tx-webx-bookingemo .filter.emofilter {
    display: block; }
    .tx-webx-bookingemo .filter .InfrastructureTopics .fWAccContent {
      overflow: auto; }
  .tx-webx-bookingemo .topfilter {
    margin-left: -20px;
    width: calc(100% + 40px);
    padding: 20px;
    box-shadow: inset 0 40px 40px -13px rgba(0, 0, 0, 0.1);
    color: #8d8d8f; }
    .tx-webx-bookingemo .topfilter .fAvailProviders {
      text-align: center;
      width: 100%; }
    .tx-webx-bookingemo .topfilter .formsorting {
      margin: 20px 0;
      width: 100%;
      max-width: 100%; }
      .tx-webx-bookingemo .topfilter .formsorting .chosen-container {
        width: 100% !important; }
        .tx-webx-bookingemo .topfilter .formsorting .chosen-container .chosen-single {
          color: #8d8d8f !important; }
    .tx-webx-bookingemo .topfilter .fListView {
      display: flex;
      justify-content: space-between; }
      .tx-webx-bookingemo .topfilter .fListView > div {
        flex: 1;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .tx-webx-bookingemo .topfilter .fListView > div + div {
          border-left: 2px solid #f2f2f2; }
        .tx-webx-bookingemo .topfilter .fListView > div.active svg use, .tx-webx-bookingemo .topfilter .fListView > div:hover svg use {
          fill: #e2001a;
          transition: all 250ms ease; }
          .tx-webx-bookingemo .topfilter .fListView > div.active svg path, .tx-webx-bookingemo .topfilter .fListView > div:hover svg path {
            fill: #e2001a;
            transition: all 250ms ease; }
  .tx-webx-bookingemo .emofilters {
    margin-bottom: 30px; }
    .tx-webx-bookingemo .emofilters .fCurrent {
      margin-left: -5px;
      width: calc(100% + 5px);
      margin-bottom: 10px; }
      .tx-webx-bookingemo .emofilters .fCurrent .filterPreTitle {
        margin: 0 5px; }
      .tx-webx-bookingemo .emofilters .fCurrent .fCTarget:not(:empty) {
        margin: 5px;
        display: inline-block; }
    .tx-webx-bookingemo .emofilters .fWrap form {
      position: Relative; }
      .tx-webx-bookingemo .emofilters .fWrap .fWAcc.classification {
        /* position: relative; */
        /* .arrow-down {
         position: absolute;
         bottom:0;
         left: 0;
         right: 0;
         text-align: center;
         &:after {
         content: '\00a0';
         display: inline-block;
         border-top: 6px solid #1a171b;
         border-right: 6px solid #1a171b;
         width: 18px;
         height: 18px;
         -webkit-transform: rotate(135deg);
         -ms-transform: rotate(135deg);
         -webkit-transform: rotate(135deg);
         -ms-transform: rotate(135deg);
         -webkit-transform: rotate(135deg);
         -ms-transform: rotate(135deg);
         transform: rotate(135deg); 
         }
         } */ }
      .tx-webx-bookingemo .emofilters .fWrap .fWAccHead.resetFilter {
        color: #e2001a; }
        .tx-webx-bookingemo .emofilters .fWrap .fWAccHead.resetFilter.filterSet {
          color: #e2001a; }
          .tx-webx-bookingemo .emofilters .fWrap .fWAccHead.resetFilter.filterSet:hover {
            color: #fff; }
        .tx-webx-bookingemo .emofilters .fWrap .fWAccHead.resetFilter:after {
          display: none; }
      .tx-webx-bookingemo .emofilters .fWrap .fWElement {
        padding: 0 10px; }
        .tx-webx-bookingemo .emofilters .fWrap .fWElement .arrow-down {
          display: none; }
        .tx-webx-bookingemo .emofilters .fWrap .fWElement.fWCheckbox label {
          margin-top: 12px; }
    .tx-webx-bookingemo .emofilters .classificationSuperior {
      display: inline-block; }
  .tx-webx-bookingemo .emoDateFilter .filterDateHidden {
    display: none; }
  .tx-webx-bookingemo .emoDateFilter input, .tx-webx-bookingemo .emoTextFilter input {
    width: 100%;
    padding: 12px 10px 8px 66px;
    background-image: url(/fileadmin/templates/images/calendarRed.svg) !important;
    background-repeat: no-repeat !important;
    background-position: 12px center !important;
    border: 0;
    line-height: 32px;
    color: #e2001a; }
  .tx-webx-bookingemo .emoTextFilter input {
    background-image: url(/fileadmin/templates/images/magnify.svg) !important; }
  .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider {
    margin-bottom: 80px;
    margin-left: -10px; }
    .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .slick-list {
      overflow: visible; }
    .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .slick-dots {
      bottom: -40px;
      margin-left: 6px; }
      .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .slick-dots li {
        width: 90px;
        height: 4px;
        margin: 0 10px;
        background: #f2f2f2; }
        .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .slick-dots li button:before {
          display: none; }
        .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .slick-dots li.slick-active {
          background: #e2001a; }
    .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .slick-arrow {
      margin: 0 25px;
      width: 50px;
      height: 50px;
      z-index: 100; }
      .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .slick-arrow:before {
        color: #e2001a;
        font-size: 40px; }
    .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory {
      width: 200px;
      height: 200px;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      padding: 30px 12px 30px 12px;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1px;
      text-transform: none;
      text-align: center; }
      .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory .rsicon {
        margin-bottom: auto; }
        .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory .rsicon svg {
          width: 45px;
          height: 45px; }
          .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory .rsicon svg path {
            fill: #8d8d8f; }
      .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory.rsactive, .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory:hover {
        background: #e2001a;
        color: #fff;
        cursor: pointer; }
        .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory.rsactive .rsicon svg path, .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider .rscategory:hover .rsicon svg path {
          fill: white; }
  .tx-webx-bookingemo .emoList {
    /*EMOGRID*/ }
    .tx-webx-bookingemo .emoList .dceTeasers {
      margin-bottom: 0 !Important; }
    .tx-webx-bookingemo .emoList .emoListItem {
      margin-bottom: 20px;
      width: 100%;
      position: relative; }
    .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo {
      padding: 20px; }
    .tx-webx-bookingemo .emoList .emoListItem .dTTeaser {
      margin-bottom: 0;
      min-height: 465px; }
      .tx-webx-bookingemo .emoList .emoListItem .dTTeaser .welcomCardBanner {
        background: #b0c82c;
        color: #fff;
        height: 35px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        bottom: 0;
        top: auto;
        left: 0;
        line-height: 39px;
        font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif; }
      .tx-webx-bookingemo .emoList .emoListItem .dTTeaser .currentViews {
        background: #e2001a;
        color: #fff;
        min-height: 35px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        width: 100%;
        line-height: 24px;
        padding: 8px; }
    .tx-webx-bookingemo .emoList .emoListItem .dTTContent h3 {
      padding-bottom: 5px; }
    .tx-webx-bookingemo .emoList .emoListItem .emoListItemHeader {
      line-height: 30px;
      text-transform: uppercase;
      padding-bottom: 0; }
    .tx-webx-bookingemo .emoList .emoListItem .classification .classificationIcon img {
      height: 20px; }
    .tx-webx-bookingemo .emoList .emoListItem .emoListDescription {
      display: none; }
    .tx-webx-bookingemo .emoList .emoListItem .shareBookmarkWrapper {
      position: absolute;
      top: 0;
      right: 0;
      display: flex; }
      .tx-webx-bookingemo .emoList .emoListItem .shareBookmarkWrapper > div {
        margin-right: 20px;
        cursor: pointer; }
        .tx-webx-bookingemo .emoList .emoListItem .shareBookmarkWrapper > div:hover svg use {
          fill: #fff;
          transition: all 250ms ease; }
    .tx-webx-bookingemo .emoList .emoListItem .timewrap {
      margin: 10px 0; }
      .tx-webx-bookingemo .emoList .emoListItem .timewrap .preTime {
        text-transform: uppercase;
        min-width: 100px;
        display: inline-block; }
    .tx-webx-bookingemo .emoList .emoListItem .emoLinkText a {
      color: #e2001a; }
    .tx-webx-bookingemo .emoList .emoListItem .saveics {
      margin-top: 20px;
      padding: 5px;
      display: inline-block; }
      .tx-webx-bookingemo .emoList .emoListItem .saveics svg {
        display: block; }
      .tx-webx-bookingemo .emoList .emoListItem .saveics:hover {
        background: #e2001a; }
        .tx-webx-bookingemo .emoList .emoListItem .saveics:hover svg g {
          fill: #fff;
          transition: all 250ms ease; }
          .tx-webx-bookingemo .emoList .emoListItem .saveics:hover svg path {
            fill: #fff;
            transition: all 250ms ease; }
    .tx-webx-bookingemo .emoList .emoListItem .emodivider {
      border-top: 2px solid #f2f2f2;
      margin: 20px 0; }
    .tx-webx-bookingemo .emoList .emoListItem .emoDetailButton {
      width: 100%;
      text-align: center;
      border: 2px solid #e2001a;
      background: #e2001a; }
      .tx-webx-bookingemo .emoList .emoListItem .emoDetailButton a {
        width: 100%; }
        .tx-webx-bookingemo .emoList .emoListItem .emoDetailButton a:hover {
          background: #fff;
          color: #e2001a; }
    .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .dTTCDateText {
      background: none;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      text-shadow: 0 0 8px #1a171b;
      letter-spacing: 1px; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid > div:not(.shareBookmarkWrapper), .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid > h3 {
        padding: 5px 20px; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid h3 {
          margin-top: 20px; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid .additionalPackageService {
          padding: 10px 20px; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid .buttons {
          padding-bottom: 20px !Important; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .shareBookmarkWrapper {
        right: 15px; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .data {
        padding: 10px 0px; }
    .tx-webx-bookingemo .emoList .paginator {
      text-align: center; }
    .tx-webx-bookingemo .emoList .paginator .emoLoadMore {
      cursor: pointer;
      margin-top: 15px; }
      .tx-webx-bookingemo .emoList .paginator .emoLoadMore a {
        border: 2px solid #e2001a;
        transition: all 250ms ease; }
        .tx-webx-bookingemo .emoList .paginator .emoLoadMore a:hover {
          color: #e2001a;
          background: #fff; }
    .tx-webx-bookingemo .emoList.emoListGrid {
      display: block;
      grid-template-areas: none;
      grid-template-columns: none; }
    .tx-webx-bookingemo .emoList.emoListGrid .emoListItem {
      display: block; }
      .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .dTTeaser {
        min-height: 416px; }
        .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .dTTeaser .currentViews {
          bottom: 35px;
          top: auto;
          position: absolute; }
      .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .dTTeaserBottomInfoGrid {
        padding: 20px; }
      .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .shareBookmarkWrapper {
        position: absolute;
        z-index: 15;
        right: 20px; }
        .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .shareBookmarkWrapper > div:hover svg {
          background-color: #e2001a;
          transition: all 250ms ease; }
          .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .shareBookmarkWrapper > div:hover svg > g > path {
            fill: #e2001a;
            transition: all 250ms ease; }
          .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .shareBookmarkWrapper > div:hover svg g {
            fill: #fff;
            transition: all 250ms ease; }
          .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .shareBookmarkWrapper > div:hover svg path {
            fill: #fff; }
  .tx-webx-bookingemo .singleView .shadow {
    padding: 20px; }
    .tx-webx-bookingemo .singleView .backToList {
      margin: 30px 0 0 0; }
    .tx-webx-bookingemo .singleView .eventsSingleBigImg {
      position: relative;
      margin-top: -42px; }
    .tx-webx-bookingemo .singleView .eventsSingleBigImg .detailsViewHeaderHeadlines {
      position: absolute;
      left: 0;
      right: 0;
      max-width: 1300px;
      padding: 0 20px;
      margin: 0 auto;
      bottom: 80px;
      color: #fff;
      text-shadow: 0 0 8px #1a171b; }
      .tx-webx-bookingemo .singleView .eventsSingleBigImg .detailsViewHeaderHeadlines .detailDate, .tx-webx-bookingemo .singleView .eventsSingleBigImg .detailsViewHeaderHeadlines .detailLocation {
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
        font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif; }
      .tx-webx-bookingemo .singleView .eventsSingleBigImg .detailsViewHeaderHeadlines h1 {
        color: #fff; }
      .tx-webx-bookingemo .singleView .eventsSingleBigImg .detailsViewHeaderHeadlines .detailLocation {
        text-transform: uppercase; }
    .tx-webx-bookingemo .singleView .emoHeaderImage {
      margin-left: -20px;
      width: calc(100% + 40px); }
    .tx-webx-bookingemo .singleView .singleViewContent {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px; }
    .tx-webx-bookingemo .singleView .singleViewContent .singleViewContentText a {
      color: #e2001a;
      word-break: break-all; }
    .tx-webx-bookingemo .singleView .emoHeaderCard {
      margin-top: 40px;
      display: flex;
      flex-direction: column; }
    .tx-webx-bookingemo .singleView .emoHeaderCard .emoListOpenings:not(:empty) {
      margin-top: 20px; }
    .tx-webx-bookingemo .singleView .emoHeaderCard .trustyou {
      margin-top: auto;
      margin-bottom: 0; }
    .tx-webx-bookingemo .singleView .emoHeaderCard .emoShowOpenings p {
      text-align: unset !important; }
    .tx-webx-bookingemo .singleView .eventSingleInfo {
      padding: 15px 20px;
      margin: 60px 0; }
    .tx-webx-bookingemo .singleView .dcePolygonText .dPTPoly {
      margin-left: 30px; }
    .tx-webx-bookingemo .singleView .dcePolygonText .dPTContent .dPTCWrap {
      position: relative !important; }
    .tx-webx-bookingemo .singleView #EmoLinks a, .tx-webx-bookingemo .singleView .emoHeaderCard a, .tx-webx-bookingemo .singleView .emoLinkText a {
      color: #e2001a; }
    .tx-webx-bookingemo .singleView .singleViewContentInfobox h3 {
      padding-bottom: 10px; }
    .tx-webx-bookingemo .singleView .timeLine .preTime {
      text-transform: uppercase;
      min-width: 120px;
      display: inline-block; }
    .tx-webx-bookingemo .singleView .emoShowOpenings {
      margin-top: 30px; }
    .tx-webx-bookingemo .singleView .emoShowOpenings p {
      text-align: center; }
    .tx-webx-bookingemo .singleView .eventShowDates {
      margin-top: 20px;
      position: relative; }
    .tx-webx-bookingemo .singleView .eventShowDates .saveics {
      text-align: right;
      margin-top: 20px; }
      .tx-webx-bookingemo .singleView .eventShowDates .saveics a {
        display: inline-block; }
      .tx-webx-bookingemo .singleView .eventShowDates .saveics svg {
        display: block; }
    .tx-webx-bookingemo .singleView .moreEvents {
      margin-bottom: 30px; }
    .tx-webx-bookingemo .singleView .moreEvents .headerh1 {
      text-align: center;
      color: #8d8d8f;
      margin-top: 30px;
      text-transform: uppercase; }
    .tx-webx-bookingemo .singleView .moreEventsWrapper .moreEventsWrap {
      padding: 20px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .tx-webx-bookingemo .singleView .moreEventsWrapper .moreEventsWrap + .moreEventsWrap {
        margin-top: 20px; }
      .tx-webx-bookingemo .singleView .moreEventsWrapper .moreEventsWrap .timeLine .preTime {
        min-width: inherit; }
      .tx-webx-bookingemo .singleView .moreEventsWrapper .moreEventsWrap .saveics a {
        display: block;
        padding: 0; }
        .tx-webx-bookingemo .singleView .moreEventsWrapper .moreEventsWrap .saveics a svg {
          display: block; }
    .tx-webx-bookingemo .singleView .ImageGallery {
      margin-top: 40px; }
    .tx-webx-bookingemo .singleView .ImageGallery .galleryImages .galleryImage {
      position: relative;
      padding: 10px 0; }
      .tx-webx-bookingemo .singleView .ImageGallery .galleryImages .galleryImage img {
        width: 100%; }
      .tx-webx-bookingemo .singleView .ImageGallery .galleryImages .galleryImage .imgwrapperoverlay {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 100%;
        height: calc(100% - 20px);
        background: rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 40px;
        font-weight: 600; }
    .tx-webx-bookingemo .singleView .emoback {
      margin-top: 30px; }
    .tx-webx-bookingemo .singleView .emoSocials #share .dceShare {
      margin: 20px 0 0 auto; }
    .tx-webx-bookingemo .singleView #mapWEBX, .tx-webx-bookingemo .singleView .eventsSingleBigImg {
      width: 100vw !important;
      margin-left: -20px;
      margin-right: -20px; }
  .tx-webx-bookingemo .webx_zoom {
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    z-index: 1000; }
    .tx-webx-bookingemo .webx_zoom > div {
      background: white;
      width: 25px;
      height: 25px;
      font-size: 18px;
      text-align: center;
      border: 1px solid #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
    .tx-webx-bookingemo .singleView .detailTitle {
      margin-bottom: 20px;
      margin-top: -18px; }
    .tx-webx-bookingemo .singleView .detailTitle h1 {
      padding-bottom: 0; }
    .tx-webx-bookingemo .singleView .detailTitle.detailTitleHotels .classification .classificationIcon + .classificationIcon {
      margin-left: 2px; }
    .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard h3 {
      text-transform: uppercase; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard .emolistCat {
        margin: 10px 0; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard .emolistCat img + img {
        margin-left: 5px; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard .emoSocials {
        margin-top: auto; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard .emoSocials svg path {
        fill: #8c8c8e; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard .emoSocials a + a {
        margin-left: 4px; }
    .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage {
      position: relative; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage .trustyou {
        display: none; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage .welcomCardBanner {
        background: #b0c82c;
        color: #fff;
        height: 35px;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        z-index: 2;
        bottom: 0;
        top: auto;
        left: 0;
        width: 100%;
        line-height: 39px;
        font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif; }
    .tx-webx-bookingemo .singleView #facilities {
      margin: 12vh 0;
      padding: 30px 0; }
    .tx-webx-bookingemo .singleView #facilities h3 {
      text-transform: uppercase;
      font-size: 40px;
      line-height: 50px; }
    .tx-webx-bookingemo .singleView #facilities .serviceFacilities .facilityWrap .groupedfacilities {
      margin-top: 30px; }
      .tx-webx-bookingemo .singleView #facilities .serviceFacilities .facilityWrap h4 {
        cursor: pointer;
        text-transform: uppercase; }
      .tx-webx-bookingemo .singleView #facilities .serviceFacilities .facilityWrap h4 .generalArrow {
        border-color: #1a171b;
        transform: rotate(135deg);
        margin-left: 15px;
        margin-bottom: 2px; }
      .tx-webx-bookingemo .singleView #facilities .serviceFacilities .facilityWrap h4.active .generalArrow {
        margin-bottom: 0;
        transform: rotate(315deg); }
      .tx-webx-bookingemo .singleView #facilities .serviceFacilities .facilityWrap ul {
        display: none; }
    .tx-webx-bookingemo .singleView .tabs .tab {
      margin: 10px 0; }
      .tx-webx-bookingemo .singleView .tabs .tab a {
        width: 100%;
        background: none;
        color: #e2001a;
        border: 2px solid #e2001a; }
      .tx-webx-bookingemo .singleView .tabs .tab.current a, .tx-webx-bookingemo .singleView .tabs .tab:hover a {
        background: #e2001a;
        color: #fff; }
    .tx-webx-bookingemo .singleView .emotabContents .emotabContent {
      padding: 20px; }
      .tx-webx-bookingemo .singleView .emotabContents .emotabContent:not(.current) {
        display: none; }
    .tx-webx-bookingemo .singleView .tabcontents {
      margin-top: 30px; }
    .tx-webx-bookingemo .singleView .tabcontents .tabcontent {
      max-height: 0;
      overflow: hidden;
      transition: all 250ms ease; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent.current {
        max-height: 5000px;
        transition: all 250ms ease;
        overflow: visible; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-left: -1%;
        width: 102%; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room {
        margin: 1%;
        width: 100%; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .roomTitle {
        text-align: center;
        padding: 10px 0;
        min-height: 92px; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .roomTitle h3 {
        padding: 0; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .slickRoomGallery:not(.slick-slider) .roomgalleryItem:not(:first-child) {
        display: none; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .slickRoomGallery .generalArrow {
        width: 15px;
        height: 15px; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .slickRoomGallery .slick-next {
        right: 10px;
        margin-top: 15px; }
        .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .slickRoomGallery .slick-next:before {
          display: none; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .slickRoomGallery .slick-prev {
        left: 10px;
        z-index: 1;
        transform: scaleX(-1); }
        .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .slickRoomGallery .slick-prev:before {
          display: none; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .slickRoomGallery img {
        width: 100%; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .roomToggleWrap {
        display: flex;
        justify-content: space-between; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .roomToggleWrap .roomtoggle {
        text-transform: uppercase;
        color: #e2001a;
        padding-right: 18px;
        cursor: pointer;
        position: relative;
        padding-right: 18px;
        font-weight: bold; }
        .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader .roomToggleWrap .roomtoggle:after {
          position: absolute;
          display: block;
          right: 0;
          top: 7px;
          content: '';
          width: 9px;
          height: 9px;
          border-top: 4px solid #e2001a;
          border-right: 4px solid #e2001a;
          transform: rotate(135deg);
          transition: all 250ms ease; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .roomHeader:after {
        content: '';
        width: calc(100% + 40px);
        bottom: -47px;
        height: 7px;
        background: #fff;
        left: -20px;
        position: absolute;
        z-index: 5;
        opacity: 0;
        transition: opacity 200ms ease 200ms; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .accordion-section-content {
        display: none; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .accordion-section-content .roomInfos .roomInfo .anfragenibk {
        margin-top: 15px; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room .accordion-section-content .serviceproviderFacilitiesWrap {
        margin-top: 20px; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen {
        box-shadow: 0 0 4px 0 rgba(26, 23, 27, .5); }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .accordion-section-content {
        background: #fff;
        max-width: 1286px;
        position: relative;
        top: 2px;
        margin: 0;
        margin-top: 15px;
        transform: none; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .roomHeader {
        position: relative; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .roomHeader:after {
        opacity: 1;
        transition: opacity 200ms ease 200ms; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .roomHeader .roomToggleWrap .roomtoggle:after {
        transform: rotate(315deg);
        top: 10px;
        transition: all 250ms ease; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .groupedfacilities h4, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .review h4, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .groupedfacilities .h4, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .review .h4 {
        padding-right: 18px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        font-size: 20px; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .groupedfacilities h4:after, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .review h4:after, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .groupedfacilities .h4:after, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .review .h4:after {
        position: absolute;
        display: block;
        right: 0;
        top: 7px;
        content: '';
        width: 9px;
        height: 9px;
        border-top: 4px solid #1a171b;
        border-right: 4px solid #1a171b;
        transform: rotate(135deg);
        transition: all 250ms ease; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .groupedfacilities h4.active:after, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .review h4.active:after, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .groupedfacilities .h4.active:after, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .review .h4.active:after {
        transform: rotate(315deg);
        top: 10px;
        transition: all 250ms ease; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .groupedfacilities ul, .tx-webx-bookingemo .singleView .tabcontents .tabcontent .review ul {
        display: none; }
  .tx-webx-bookingemo .reviewwrapper .reviews .reviewWrap + .reviewWrap {
    margin-top: 15px; }
    .tx-webx-bookingemo .reviewwrapper .reviews .reviewWrap .head {
      font-weight: 800; }
    .tx-webx-bookingemo .reviewwrapper .ratingTable {
      margin-top: 15px; }
    .tx-webx-bookingemo .reviewwrapper .ratingTable .ratingBar {
      border: 1px solid #707173;
      line-height: 33px; }
    .tx-webx-bookingemo .reviewwrapper .ratingTable .ratingBar div {
      background: #707173;
      padding-left: 10px;
      height: 30px;
      color: #fff; }
  .tx-webx-bookingemo .shopItemButtons {
    display: flex; }
    .tx-webx-bookingemo .shopItemButtons .shoppincardIcon {
      margin-left: 2px;
      max-width: 60px; }
    .tx-webx-bookingemo .shopItemButtons .shoppincardIcon a {
      max-width: 60px;
      min-width: 60px;
      padding: 0; }
    .tx-webx-bookingemo .shopItemButtons a:hover {
      color: #fff !important; }
  .tx-webx-bookingemo .shopItemsVarList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; }
    .tx-webx-bookingemo .shopItemsVarList .shopitemVariant {
      width: 52px;
      height: 52px;
      border: 2px solid rgba(26, 23, 27, 0.2);
      margin-right: 10px;
      margin-bottom: 10px;
      color: #fff;
      line-height: 52px;
      text-align: center;
      text-transform: uppercase;
      color: #8d8d8f; }
    .tx-webx-bookingemo .shopItemsVarList .shopitemVariant a {
      color: #8d8d8f; }
    .tx-webx-bookingemo .shopItemsVarList .shopitemVariant.active {
      background: #e2001a;
      color: #fff;
      border-color: #e2001a; }
    .tx-webx-bookingemo .shopItemsVarList .shopitemVariant.active a {
      color: #fff; }
  .tx-webx-bookingemo .trustyou {
    color: #e2001a;
    font-weight: 800;
    margin-bottom: 30px; }
    .tx-webx-bookingemo .trustyou .score {
      font-size: 60px;
      line-height: 60px; }
    .tx-webx-bookingemo .trustyou .trustCount {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 30px;
      font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif;
      font-weight: bold;
      letter-spacing: 1px; }
  .tx-webx-bookingemo .form-item {
    font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif; }
    .tx-webx-bookingemo .form-item.special {
      display: none; }
    .tx-webx-bookingemo .form-item.inputField {
      height: 52px;
      color: #8d8d8f;
      padding-left: 20px;
      box-shadow: 0 0 4px 0 rgba(26, 23, 27, .2); }
    .tx-webx-bookingemo .form-item.inputField > div {
      padding-top: 12px;
      height: 30px;
      transition: all 250ms ease; }
    .tx-webx-bookingemo .form-item.inputField > input, .tx-webx-bookingemo .form-item.inputField textarea {
      border: 0;
      background-color: transparent;
      height: 14px;
      padding: 0 0 4px;
      width: 100%;
      text-transform: uppercase;
      transition: all 250ms ease; }
    .tx-webx-bookingemo .form-item.inputField.act > div {
      font-size: 15px;
      line-height: 10px;
      padding-top: 7px;
      height: 18px; }
    .tx-webx-bookingemo .form-item.inputField.act > input, .tx-webx-bookingemo .form-item.inputField.act textarea {
      height: 30px;
      padding: 0 0; }
    .tx-webx-bookingemo .form-item.inputField.act > input:-webkit-autofill, .tx-webx-bookingemo .form-item.inputField.act textarea:-webkit-autofill, .tx-webx-bookingemo .form-item.inputField.act > input:-webkit-autofill:hover, .tx-webx-bookingemo .form-item.inputField.act textarea:-webkit-autofill:hover, .tx-webx-bookingemo .form-item.inputField.act > input:-webkit-autofill:focus, .tx-webx-bookingemo .form-item.inputField.act textarea:-webkit-autofill:focus, .tx-webx-bookingemo .form-item.inputField.act > input:-webkit-autofill:active, .tx-webx-bookingemo .form-item.inputField.act textarea:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-box-shadow: 0 0 0px 1000px white inset; }
    .tx-webx-bookingemo .form-item.textareaField {
      height: auto; }
    .tx-webx-bookingemo .form-item.textareaField textarea {
      min-height: 150px;
      height: auto; }
    .tx-webx-bookingemo .form-item.selectField .chosen-container {
      width: 100% !important; }
    .tx-webx-bookingemo .form-item.selectField .chosen-container .chosen-single {
      color: #8d8d8f !important; }
    .tx-webx-bookingemo .form-item + .form-item {
      margin-top: 20px; }
  .tx-webx-bookingemo .enquiryWrap .filterPart {
    padding: 0;
    margin-bottom: 15px;
    font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif; }
  .tx-webx-bookingemo .dceButtonOnly {
    min-width: 148px;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #e2001a;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer; }
  .tx-webx-bookingemo .paginator ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    .tx-webx-bookingemo .paginator ul li {
      padding: 2%;
      font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif;
      font-size: 20px; }
    .tx-webx-bookingemo .paginator ul li a {
      color: #1a171b; }
    .tx-webx-bookingemo .paginator ul li.current {
      color: #e2001a; }
    .tx-webx-bookingemo .paginator ul li.previous, .tx-webx-bookingemo .paginator ul li.next {
      display: flex;
      align-items: center; }
    .tx-webx-bookingemo .paginator ul li.previous a, .tx-webx-bookingemo .paginator ul li.next a {
      font-size: 0;
      color: transparent;
      display: inline-block;
      width: 16px;
      height: 16px;
      border-top: 6px solid #e2001a;
      border-right: 6px solid #e2001a;
      transform: rotate(45deg);
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
    .tx-webx-bookingemo .paginator ul li.previous.previous, .tx-webx-bookingemo .paginator ul li.next.previous {
      transform: rotate(180deg); }
    .tx-webx-bookingemo .paginator ul li.first {
      display: none; }

.emoHeaderSerialEvents .emoHeaderSerialEventsH1Wrap {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
  bottom: 120px;
  color: #fff;
  text-shadow: 0 0 8px #1a171b;
  font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif; }
  .emoHeaderSerialEvents .emoHeaderSerialEventsH1Wrap .dTTCDateText {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase; }

.EmoCtaWrap .dceButton {
  margin: 20px 0; }
/****** RESPONSIVE ***/
@media screen and (min-width: 768px) {
  .tx-webx-bookingemo .emoList .emoListItem {
    width: 100%;
    display: flex; }
    .tx-webx-bookingemo .emoList .emoListItem .dTTeaser {
      width: 40%; }
    .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo {
      width: 60%; }
    .tx-webx-bookingemo .emoList .emoListItem .shareBookmarkWrapper {
      position: relative; }
      .tx-webx-bookingemo .emoList .emoListItem .shareBookmarkWrapper .share {
        margin-left: auto; }
      .tx-webx-bookingemo .emoList .emoListItem .shareBookmarkWrapper .bookmark {
        margin-right: 0; }
    .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem h3 {
      padding-bottom: 20px; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .dTTeaserBottomInfo {
        flex-direction: column;
        justify-content: flex-start; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid {
        display: flex;
        flex-direction: column; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid h3 {
          margin-top: 40px; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid .additionalPackageService {
          margin: 20px 0px 40px 0px; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid > div, .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid > h3 {
          padding: 0 40px !important; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selCid .buttons {
          margin-top: auto;
          margin-bottom: 30px; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem.selNoCid .shareBookmarkWrapper {
        position: absolute;
        right: 30px;
        top: 30px; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .data {
        padding: 0; }
      .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .packageGridButtons {
        text-align: right;
        margin-top: auto; }
        .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .packageGridButtons .dceButton {
          display: inline-block;
          width: auto; }
          .tx-webx-bookingemo .emoList .emoListItem.emoPackageListItem .packageGridButtons .dceButton a {
            padding: 0 60px; }
    .tx-webx-bookingemo .emoList.emoListGrid .showresults {
      width: 100%; }
    .tx-webx-bookingemo .emoList.emoListGrid .emoListItem {
      width: 49%; }
      .tx-webx-bookingemo .emoList.emoListGrid .emoListItem .dTTeaser {
        width: 100%; }
    .tx-webx-bookingemo .emoList .singleItemWrap .emoPackageListItem {
      flex-direction: row !Important; }
    .tx-webx-bookingemo .singleView .ImageGallery {
      margin-left: -10px;
      width: calc(100% + 20px); }
    .tx-webx-bookingemo .singleView .ImageGallery .galleryImages {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .tx-webx-bookingemo .singleView .ImageGallery .galleryImages .galleryImage {
        padding: 10px; }
        .tx-webx-bookingemo .singleView .ImageGallery .galleryImages .galleryImage .imgwrapperoverlay {
          top: 10px;
          left: 10px;
          width: calc(100% - 20px);
          height: calc(100% - 20px); }
      .tx-webx-bookingemo .singleView .ImageGallery .galleryImages.galleryImagesGreater5 .galleryImage1, .tx-webx-bookingemo .singleView .ImageGallery .galleryImages.galleryImagesGreater5 .galleryImage2 {
        width: 50%; }
        .tx-webx-bookingemo .singleView .ImageGallery .galleryImages.galleryImagesGreater5 .galleryImage3, .tx-webx-bookingemo .singleView .ImageGallery .galleryImages.galleryImagesGreater5 .galleryImage4, .tx-webx-bookingemo .singleView .ImageGallery .galleryImages.galleryImagesGreater5 .galleryImage5 {
          width: 33.33%; }
      .tx-webx-bookingemo .singleView .ImageGallery .galleryImages.galleryImagesSmaller5 .galleryImage {
        flex: 1; }
    .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room {
      width: 48%; }
    .tx-webx-bookingemo .enquiryPackage {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .tx-webx-bookingemo .enquiryPackage .enquiryPackageImage {
      width: 230px; }
    .tx-webx-bookingemo .enquiryPackage .enquiryPackageRight {
      width: calc(100% - 250px); }
    .tx-webx-bookingemo .EmoCtaWrap {
      display: flex; }
    .tx-webx-bookingemo .EmoCtaWrap .dceButton + .dceButton {
      margin-left: 10px; } }

@media screen and (min-width: 1024px) {
  .emoDetailPage #header:empty {
    padding-top: 0 !Important;
    min-height: 120px !important; }

  .tx-webx-bookingemo .emofilters .fWrap .fWAcc.classification .arrow-down {
    display: block; }
    .tx-webx-bookingemo .emofilters .fWrap .fWElement .classifications {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row; }
      .tx-webx-bookingemo .emofilters .fWrap .fWElement .classifications .classification {
        width: 49%; }
      .tx-webx-bookingemo .emofilters .fWrap .fWElement .arrow-down:after {
        content: ''; }
    .tx-webx-bookingemo .filter.emofilter.topfilter {
      display: flex;
      align-items: center; }
    .tx-webx-bookingemo .filter.emofilter.topfilter .topfilterInner {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      justify-content: space-between; }
    .tx-webx-bookingemo .filter.emofilter.topfilter .fListView > div {
      min-width: 145px; }
    .tx-webx-bookingemo .filter.emofilter.topfilter .formsorting {
      max-width: 419px; }
    .tx-webx-bookingemo .emoList .emoListItem {
      width: 100%;
      display: flex; }
    .tx-webx-bookingemo .emoList .emoListItem .dTTeaser {
      width: 420px; }
    .tx-webx-bookingemo .emoList .emoListItem .emoListDescription {
      display: block;
      margin: 10px 0; }
      .tx-webx-bookingemo .emoList .emoListItem .emoListDescription .emolistCat {
        margin: 10px 0; }
      .tx-webx-bookingemo .emoList .emoListItem .emoListDescription .emolistCat img + img {
        margin-left: 12px; }
    .tx-webx-bookingemo .emoList .emoListItem .singleItemNew {
      display: block !important; }
      .tx-webx-bookingemo .emoList .emoListItem .singleItemNew .emoListItemHeader {
        width: 100%; }
      .tx-webx-bookingemo .emoList .emoListItem .singleItemNew .emoDetailButton {
        width: auto;
        max-width: 200px;
        margin-left: auto; }
      .tx-webx-bookingemo .emoList .emoListItem .singleItemNew .shareBookmarkWrapper {
        position: absolute !important;
        top: 0; }
    .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew {
      width: calc(100% - 420px); }
      .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo.noflex .shareBookmarkWrapper, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew.noflex .shareBookmarkWrapper {
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        width: 100px; }
      .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo.noflex .emoListItemHeader, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew.noflex .emoListItemHeader, .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo.noflex .shopItemsVarList, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew.noflex .shopItemsVarList {
        width: calc(100% - 110px); }
      .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo:not(.noflex), .tx-webx-bookingemo .emoList .emoListItem .singleItemNew:not(.noflex) {
        display: flex;
        justify-content: space-between; }
      .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo:not(.noflex) .dTTeaserEmoLeft, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew:not(.noflex) .dTTeaserEmoLeft {
        width: 60.66%;
        padding-right: 20px;
        border-right: 2px solid #f2f2f2;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start; }
        .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo:not(.noflex) .dTTeaserEmoLeft .emodivider, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew:not(.noflex) .dTTeaserEmoLeft .emodivider {
          display: none; }
        .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo:not(.noflex) .dTTeaserEmoLeft .saveics, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew:not(.noflex) .dTTeaserEmoLeft .saveics {
          margin-top: auto; }
      .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo:not(.noflex) .dTTeaserEmoRight, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew:not(.noflex) .dTTeaserEmoRight {
        width: 33.33%;
        display: flex;
        flex-direction: column; }
        .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo:not(.noflex) .dTTeaserEmoRight .buttons, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew:not(.noflex) .dTTeaserEmoRight .buttons {
          margin-top: auto; }
        .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo:not(.noflex) .dTTeaserEmoRight .emoListOpenings .open, .tx-webx-bookingemo .emoList .emoListItem .singleItemNew:not(.noflex) .dTTeaserEmoRight .emoListOpenings .open {
          background: #b2cb27;
          color: #fff;
          width: 100px;
          text-align: center;
          text-transform: uppercase;
          font-weight: 600;
          margin-top: 10px; }
    .tx-webx-bookingemo .emoList.emoListGrid .dceTeasers {
      justify-content: flex-start;
      margin-left: -1%;
      width: 102%; }
    .tx-webx-bookingemo .emoList.emoListGrid .emoListItem {
      width: 31.3333333333%;
      margin: 1%; }
    .tx-webx-bookingemo .shopitem .dTTeaserBottomInfo {
      display: flex;
      flex-direction: column; }
    .tx-webx-bookingemo .shopitem .dTTeaserBottomInfo .shopItemButtons {
      display: flex;
      margin-top: auto; }
    .tx-webx-bookingemo .shopitem .dTTeaserBottomInfo .shoppreview {
      margin-left: auto; }
    .tx-webx-bookingemo .singleView .detailTitle {
      margin-top: 38px; }
    .tx-webx-bookingemo .singleView .detailTitle h1 {
      padding-bottom: 12px;
      line-height: 57px; }
    .tx-webx-bookingemo .singleView .detailTitle.detailTitleHotels {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .tx-webx-bookingemo .singleView .detailTitle.detailTitleHotels .classification .classificationIcon svg {
        height: 30px;
        width: 30px; }
        .tx-webx-bookingemo .singleView .detailTitle.detailTitleHotels .classification .classificationIcon img {
          height: 30px; }
        .tx-webx-bookingemo .singleView .detailTitle.detailTitleHotels .classification .classificationIcon + .classificationIcon {
          margin-left: 8px; }
    .tx-webx-bookingemo .singleView .backToList {
      margin: 60px 0 50px 0; }
    .tx-webx-bookingemo .singleView .eventsSingleBigImg {
      width: auto;
      margin-top: -20px;
      max-height: 720px;
      overflow: hidden; }
    .tx-webx-bookingemo .singleView .eventsSingleBigImg img {
      width: 100%; }
    .tx-webx-bookingemo .singleView .eventSingleInfo {
      padding: 35px 40px; }
    .tx-webx-bookingemo .singleView .eventShowDates .saveics {
      position: absolute;
      right: 0px;
      bottom: 0px; }
    .tx-webx-bookingemo .singleView .moreEventsWrapper .moreEventsWrap {
      padding: 7px 40px;
      font-family: 'AltoProCon-Bold', Arial, Helvetica, sans-serif; }
      .tx-webx-bookingemo .singleView .moreEventsWrapper .moreEventsWrap .timeLineWrap {
        display: flex;
        width: 58%;
        justify-content: space-between; }
    .tx-webx-bookingemo .singleView .detailViewTop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage {
      position: relative;
      width: 65.66%;
      margin-left: 0; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage img {
        width: 100%; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage .welcomCardBanner + .trustyou {
        margin-bottom: 30px; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage .trustyou {
        position: absolute;
        right: 45px;
        bottom: 35px;
        letter-spacing: 1.5px;
        text-shadow: 0 0 8px #1a171b;
        text-transform: uppercase;
        display: block;
        margin-bottom: 0; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderImage .trustyou a {
        color: #fff; }
    .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard {
      width: 32.33%;
      margin-top: 0;
      padding: 40px; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard .emolistCat {
        margin: 20px 0; }
      .tx-webx-bookingemo .singleView .detailViewTop .emoHeaderCard .emolistCat img + img {
        margin-left: 12px; }
    .tx-webx-bookingemo .emoDateFilter {
      display: flex;
      justify-content: space-between; }
    .tx-webx-bookingemo .emoDateFilter .filterPart {
      width: 100%; }
    .tx-webx-bookingemo .singleViewContentSplitHalf {
      display: flex;
      justify-content: space-between; }
    .tx-webx-bookingemo .singleViewContentSplitHalf .singleViewContentText {
      width: 48%; }
    .tx-webx-bookingemo .singleViewContentSplitHalf .singleViewContentInfobox {
      width: 48%; }
    .tx-webx-bookingemo .singleView .serviceFacilities {
      display: flex;
      flex-wrap: wrap; }
    .tx-webx-bookingemo .singleView .serviceFacilities h3 {
      width: 100%; }
    .tx-webx-bookingemo .singleView .serviceFacilities .facilityWrap {
      width: 33.33%; }
    .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room {
      width: 31%; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen {
        padding-bottom: 0; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .accordion-section-content {
        width: calc(100vw - 40px - 3%);
        margin-left: -20px;
        padding: 20px;
        margin-top: 44px;
        box-shadow: 0 0 4px 0 rgba(26, 23, 27, .5); }
        .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .accordion-section-content .roomInfos {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between; }
          .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .accordion-section-content .roomInfos .roomdescription {
            width: 64%; }
          .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .accordion-section-content .roomInfos .roomInfo {
            width: 30%;
            text-align: right; }
            .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .accordion-section-content .roomInfos .roomInfo .anfragenibk {
              margin: 12px 0; }
        .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen .accordion-section-content .serviceproviderFacilitiesWrap .serviceproviderFacilities {
          display: flex;
          justify-content: space-between; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen.secondRoomItem .accordion-section-content {
        transform: translateX(-50%);
        margin-left: 50%; }
      .tx-webx-bookingemo .singleView .tabcontents .tabcontent .roomList .room.roomopen.thirdRoomItem .accordion-section-content {
        transform: translateX(-97.55%);
        margin-left: 97.1%; }
    .tx-webx-bookingemo .singleView .tabs {
      display: flex;
      justify-content: space-between; }
    .tx-webx-bookingemo .singleView .tabs .tab a {
      width: auto; }
    .tx-webx-bookingemo .singleView .reviewwrapper {
      display: flex;
      justify-content: space-between; }
    .tx-webx-bookingemo .singleView .reviewwrapper .reviews {
      width: 33%; }
    .tx-webx-bookingemo .singleView .reviewwrapper .ratingTable {
      width: 65%;
      margin-top: 0px; } }

@media screen and (min-width: 1200px) {
  .tx-webx-bookingemo .emoList .emoListItem .dTTeaserBottomInfo {
    padding: 40px; } }

@media screen and (min-width: 1300px) {
  .tx-webx-bookingemo .filter.emofilter.topfilter {
    width: calc(100vw) !important;
    margin-left: calc(-100vw / 2 + 1300px / 2);
    margin-right: calc(-100vw / 2 + 1300px / 2); }
    .tx-webx-bookingemo .filter.emofilter.topfilter .topfilterInner {
      max-width: 1300px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between; }
    .tx-webx-bookingemo .singleView #mapWEBX, .tx-webx-bookingemo .singleView .eventsSingleBigImg {
      width: calc(100vw - 15px) !important;
      margin-left: calc(-100vw / 2 + 1316px / 2);
      margin-right: calc(-100vw / 2 + 1316px / 2); }

  .accInner .tx-webx-bookingemo .filter.emofilter.topfilter {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0; } }

@media screen and (max-width: 767px) {
  .tx-webx-bookingemo .serialeventDetail .dceTextContent h3 {
    max-width: 100%; }
    .tx-webx-bookingemo .serviceProviderSingle {
      margin-top: -25px; }
    .tx-webx-bookingemo .rscategoryWrapper .rscategorySlider {
      margin-bottom: 30px;
      max-width: 100%;
      overflow: hidden; } }

@media print {
  .tx-webx-bookingemo .paginator {
    display: none !important; }
    .tx-webx-bookingemo .dTTeaser .dTTImage {
      -webkit-print-color-adjust: exact; }
      .tx-webx-bookingemo .dTTeaser .dTTOverlay {
        display: none; }
      .tx-webx-bookingemo .dTTeaser .welcomCardBanner {
        -webkit-print-color-adjust: exact; }
    .tx-webx-bookingemo .dTTeaserBottomInfo .dTTeaserEmoRight, .tx-webx-bookingemo .dTTeaserBottomInfo .dTTeaserEmoLeft {
      border: none; }
      .tx-webx-bookingemo .dTTeaserBottomInfo .dTTeaserEmoRight .emodivider, .tx-webx-bookingemo .dTTeaserBottomInfo .dTTeaserEmoLeft .emodivider {
        display: none; }
      .tx-webx-bookingemo .dTTeaserBottomInfo .dTTeaserEmoRight .shareBookmarkWrapper, .tx-webx-bookingemo .dTTeaserBottomInfo .dTTeaserEmoLeft .shareBookmarkWrapper {
        display: none; }
      .tx-webx-bookingemo .dTTeaserBottomInfo .dTTeaserEmoRight {
        margin-top: 25px; }
    .tx-webx-bookingemo .hotelListItem {
      height: 466px;
      border: 2px solid #f2f2f2; } }
