@import "RESET.less";   
@import "../css/sprite.css";
@import "elements.less";

.tx{
	  font-family: "Roboto Slab", serif;
  		font-size: 60px;
  		position:absolute;
  		top: 50%;
  		margin-top: -15px;
  		left:0;
  		right:0;
  		color:#fff;
  		text-align: center;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    position: relative;
}
.center{
	width:980px;
	margin: 0 auto;
}


